/*FOOTER*/
footer {
  margin-top: 65px;
}

.green-text {
  color: #00a99d;
}

/*CHART*/
.span-chart {
  display: none !important;
}

.chart {
  height: 190px;
}

/*PANELS*/
.height-panel {
  height: 126px;
}

/*NAVBAR*/
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-form {
  margin-top: 35px;
}

.navbar-form .input-group > .form-control {
  width: 110px;
}

.navbar-brand-agile {
  height: 90px;
}

.navbar-brand-agile-2 {
  height: 110px;
}

.btn-info {
  color: #fff;
  background-color: #00a99d;
  border-color: #00a99d;
}

.btn-info:hover {
  color: #fff;
  background-color: #1e6f69;
  border-color: #1e6f69;
}

.btn-info:active:hover {
  background: #1e6f69;
}

.btn-info:focus {
  color: #fff;
  background-color: #00a99d;
  border-color: #00a99d;
}

.isotipo {
  display: none;
}

/*INIT*/
.ship {
  height: 224px;
  width: 340px;
}

.title {
  font-family: "Gotham SSm A", "Gotham SSm B", Arial, Helvetica, Sans-Serif;
  color: #292929;
  font-weight: bold;
  font-size: 2.875em;
}

.sub-title {
  font-family: "Gotham SSm A", "Gotham SSm B", Arial, Helvetica, Sans-Serif;
  color: #292929;
  font-size: 1.375em;
  line-height: 1.2em;
  font-weight: bold;
}

.message {
  margin-left: 80px;
}

/*INSTRUCTIONS*/
.image {
  width: 145px;
  height: 145px;
}

.instruction h4 {
  color: #00a99d;
  font-size: 1.95rem;
  font-weight: bold;
  line-height: 40px;
}

hr {
  margin-top: 8px;
  margin-bottom: 8px;
}

.text-explain {
  text-align: justify;
}

.toknow h4 {
  color: #00a99d;
  font-size: 1.95rem;
  font-weight: bold;
  line-height: 40px;
}

.toknow {
  background: #e6e9ed;
  padding-top: 9px;
  padding-left: 30px;
  padding-bottom: 15px;
}

.toknow ul {
  padding-left: 14px;
  padding-right: 14px;
}

@media (max-width: 770px) {
  /*NAVBAR*/
  .isotipo {
    display: block;
    margin-top: 18px;
  }

  .logotipo {
    display: none;
  }

  .btn {
    font-size: 8px !important;
    margin-bottom: 5px;
  }

  .navbar-form .input-group > .form-control {
    width: 55px !important;
    height: 25px !important;
  }

  .navbar-form {
    padding: 10px 1px;
    margin-right: -15px;
    margin-bottom: 8px;
    border-bottom: 1px solid transparent;
    border-top: 0px solid transparent;
  }

  .navbar-ins {
    margin-top: 54px !important;
  }

  /*INIT*/
  .title {
    font-size: 1.875em !important;
    color: #00a99d !important;
  }

  /*PANEL*/
  .height-panel {
    height: 160px;
  }

  .custom-panel {
    padding-left: 6px;
    padding-right: 1px;
    width: 33%;
  }

  .col-custom {
    width: auto !important;
  }

  .text-description {
    font-size: 25px;
  }

  .description-panel {
    font-size: 13px;
  }
}

@media (max-width: 1000px) {
  .invisible-txt {
    display: none;
  }
  .navbar-form .input-group > .form-control {
    width: 55px;
    height: 26.85;
  }
  .btn {
    font-size: 9px;
  }
  .navbar-form {
    margin-top: 25px;
  }
  .image {
    display: none;
  }
  .message {
    margin-left: 0;
  }
  .navbar-brand-agile {
    height: 75px;
  }
  .navbar-brand-agile {
    height: 95px;
  }
  .title {
    font-family: "Gotham SSm A", "Gotham SSm B", Arial, Helvetica, Sans-Serif;
    color: #292929;
    font-weight: bold;
    font-size: 2.875em;
    text-align: center;
  }
}


@media (max-width: 1024px) {
  .text-custom-panel-l {
    font-size: 20px;
    font-weight: bold;
  }
  br {
    display: none;
  }
}

@media (min-width: 760px) and (max-width: 1200px) {
  .height-panel {
    height: 93px;
  }
}
